<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Gestion</title>
  </head>
  <body>
    <nav class="navbar">
      <!-- Uploading CSV files -->
      <button class="uploadCustomersCSV">Insert Customers by CSV</button>
      <button class="uploadTransactionsCSV">Insert Transactions by CSV</button>
      <button class="uploadInvoicesCSV">Insert Invoices by CSV</button>
      <button class="addNewUser">Add a new user</button>
    </nav>

    <div class="container">
      <h1>Dahshboard Customers</h1>

      <div class="container__data">
        <table class="customers__data">
          <thead>
            <tr>
              <th>CUSTOMER ID</th>
              <th>CUSTOMER NAME</th>
              <th>CUSTOMER IDENTIFICATION</th>
              <th>CUSTOMER ADDRESS</th>
              <th>CUSTOMER PHONE</th>
              <th>CUSTOMER EMAIL</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>
    </div>
  </body>
</html>
