<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>Dashboard Expert</title>
  </head>
  <body>
    <nav class="navbar">
      <button class="addNewUser">Add a new user</button>
    </nav>

    <div class="container">
      <h1>Dahshboard Customers</h1>

      <div class="container__data">
        <table class="customers__data">
          <thead>
            <tr>
              <th>CUSTOMER ID</th>
              <th>CUSTOMER NAME</th>
              <th>CUSTOMER IDENTIFICATION</th>
              <th>CUSTOMER ADDRESS</th>
              <th>CUSTOMER PHONE</th>
              <th>CUSTOMER EMAIL</th>
            </tr>
          </thead>
          <tbody id="userTableBody">

          </tbody>
        </table>
      </div>
    </div>

    <script>
      async function loadUsers() {
      const res = await fetch("/customers");
      if (!res.ok) {
        alert("Error charging the customers.")
      }

      const customers = await res.json();

      const tbody = document.getElementById("userTableBody");
      tbody.innerHTML = customers.map(c => `
        <tr>
          <td>${c.client_id}<td>
          <td>${c.full_name}<td>
          <td>${c.identification_number}<td>
          <td>${c.address}<td>
          <td>${c.phone}<td>
          <td>${c.email}<td>
          <td>
            <button>Modify</button>
            <button>Delete</button>  
          <td>
        </tr>
      `).join("");
      }

      loadUsers();
    </script>
  </body>
</html>
