* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'sans-serif';
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: 1.5rem;
  text-align: center;
  display: grid;
  gap: 1.5rem;
}

.navbar {
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  background-color: #34A6F4;
}

.navbar button {
  padding: 15px;
  cursor: pointer;
}

table {
  border-radius: .4rem;
}

table, tr, th {
  border: 1px solid black;
  padding: 20px;
  border-collapse: collapse;
}

th {
  color: white;
  background-color: #74D4FF;
}

td {
  padding: 15px;
  border: 1px solid black;
}

.actionButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  gap: 1rem;
  flex-direction: column;
}

.editBtn {
  background-color: green;
  padding: 10px;
  color: white;
}

.deleteBtn {
  background-color: red;
  color: white;
  padding: 10px;
}